.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10%;
    z-index: 100;
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 3px #5A50FE;
    transition: 0.4s ease;
}

.container.down{
    background: #D8D6FF;
    position: fixed;
    top: 0%;
}

.container img{
    width: 140px;
}

.hamburger{
    display: none;
}

.container .navbar{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 1.5rem;
}

.container .navbar li a{
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.2;
}

.currency{
    padding: 5px 10%;
}

.currency .needs{
    background: #5A50FE;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    gap: 2rem;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    padding: 70px 10px 0px 70px;
}

.currency .needs .money h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin: 40px 0;
}

.currency .needs .money h1 span{
    color: #F39F19;
}

.currency .needs .money p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.apps{
    margin-top: 100px;
}

.apps .available{
    display: flex;
    align-self: center;
}

.apps .available .store img{
    width: 120px;
    height: auto;
}

.currency .needs .money .download{
    margin-top: 20px;
}

.currency .needs .money .download a{
    background: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    color: #5A50FE;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    width: 260px;
}


.currency .needs .money .download a .arrow-icon{
    font-size: 20px;
    margin-left: 8px;
    animation: anime 1s linear infinite alternate;  
}

@keyframes anime {
    0%{
        transform: translateX(-6px);
        /* transform: scale(1.5); */
    }
    100%{
        transform: translateX(0px);
        transform: scale(1);
    }
}

.currency .needs img{
    width: 73%;
}


@media screen and (max-width:480px) {
    .container {
        padding: 12px 2%;
    }

    .container .navbar {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 80%;
        background-color: #D8D6FF;
        height: 100vh;
        flex-direction: column;
        transform: translateX(-100%);
        z-index: 200;
        transition: transform 0.3s ease-in-out;
    }

    .container .navbar.open{
        transform: translateX(0%);
    }
    
    .hamburger{
        display: block;
    }

    .hamburger div{
        width: 25px;
        height: 3px;
        margin: 3px;
        background-color: #000;
        transition: 0.3s ease-in-out;
    }

    .hamburger.open .line1{
        transform: translate(-1px, 6px) rotate(45deg);
    }
    .hamburger.open .line2{
        opacity: 0;
    }
    .hamburger.open .line3{
        transform: translate(-1px, -6px) rotate(-45deg);
    }
    
    
    .navbar li{
        width: 100%;
        margin: 16px 0;
    }

    .navbar li a{
        display: block;
        padding: 10px 0px;
        text-align: center;
        transition: 0.3s ease;
    }
    .navbar li a:hover{
        background-color: #5A50FE;
        color: #fff;
    }

    .currency .needs {
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        border-radius: 8px;
        padding:10px ;
    }

    .currency .needs .money h1 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        margin: 40px 0;
    }

    .currency .needs .money .download a {
        padding: 10px;
        font-size: 15px;
        width: 240px;
    }

    .currency {
        padding: 5px 2%;
    }

    .currency .needs img {
        width: 73%;
        display: none;
    }

    .apps {
        margin-top: 10px;
    }

    .currency .needs .money h1 {
        font-size: 28px;
        margin: 25px 0;
    }
}