.footer{
    padding: 30px 10%;
    background: #F4F5F6;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px , auto));
}

.footer .ever-logo h2{
    color: #000;
    font-size: 15px;
}

.footer .context{
    display: flex;
    flex-direction: column;
}

.footer .context h2{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footer .context a{
    display: flex;
    align-items: center;
    color: #50568E;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 5px;
    transition: 0.2s ease-in-out;
}

.footer .context a .media-icon{
    font-size: 20px;
}

.footer .context a:hover{
    color: #5a50fe;
}



@media screen and (max-width: 480px) {
    .footer {
        padding: 20px 2%;
    }

    .footer .context a {
        width: 100%;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .footer .context h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
}